<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tech_sim.uiproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SwitchActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".SearchResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ItemActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FullScreenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ItemListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FilterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChangeActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>